<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Upbit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Upbit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Upbit.Properties.Settings>
            <setting name="CycleMoney" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="profitThreshold" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="RemoteAddresses" serializeAs="String">
                <value>http://localhost:9222</value>
            </setting>
            <setting name="Coins_Copy" serializeAs="String">
                <value>BTC,XRP,ETH,BCC,NEO,ADA,LTC,ETC,ZEC,OMG,BTG,XMR,DASH</value>
            </setting>
        </Upbit.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Upbit.Properties.Settings>
            <setting name="Coins" serializeAs="String">
                <value>BTC,XRP,ETH,BCC,NEO,ADA</value>
            </setting>
        </Upbit.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>